# PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=car_pool_db
DB_PASSWORD=your_postgres_password
DB_PORT=5432

# MySQL
MYSQL_USER=root
MYSQL_HOST=localhost
MYSQL_DATABASE=car_pool_db
MYSQL_PASSWORD=your_mysql_password
MYSQL_PORT=3306